.stack-work/
.liquid/
/binah-basic.cabal

*.dyn_hi
*.dyn_o
*.hi
*.o
dist
*.hi
*.chi
*.chs.h
*.annot
*.vmap
*.di?
*.native
*.fqout
*.out
*.fq
*.bfq
*.annot
*.cgi
*.log
*.html
*.pyc
build.sh
config.make
*.scalarlog
*.tags
_build
*~
*.swp
*.swo
dist-newstyle
.cabal-sandbox/
cabal.sandbox.config
.ghc.environment.*
cabal.project.local

